version: '3'

services:
  mysql:
    container_name: mysql
    build: 
      context: ../build
      dockerfile: mysql.Dockerfile
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password

  go:
    container_name: go
    build: 
      context: ../
      dockerfile: ./build/go.Dockerfile
    ports:
      - "8080:8080"
    tty: true
    stdin_open: true